<div class="row">
	<img src="<%= photo_url %>" class="large-4 columns">
  <span id="hide-bio"><%=bioguide_id%></span>
	<div class="large-8 columns">
		<div class="row">
		<h2 class="large-centered columns"> <%= title %> <%= firstname %> <%= lastname %> (<%= party %>)</h2>
		</div>
		<div class="row">
			<p><%= bio %></p>
		</div>
	</div>
</div>
<div class="row">
  <ul class="accordion" data-accordion>
    <li class="accordion-navigation">
      <a href="#panel1a">Contributions By Sector</a>
      <div id="panel1a" class="content active">
  			<div id="chart"></div>
      </div>
    </li>
    <li class="accordion-navigation">
      <a href="#panel2a">Contributor Types</a>
      <div id="panel2a" class="content">
      	<div id="contributor-types"></div>
      </div>
    </li>
    <li class="accordion-navigation">
      <a href="#panel3a">Sponsored Legislation</a>
      <div id="panel3a" class="content">
        <p>Chart Goes Here!</p>
      </div>
    </li>
  </ul>
</div>
