<img src="https://placekitten.com/g/50/50" class="large-4 columns">
<div class="large-8 columns">
  <div class="row">
    <span class="large-1 large-offset-11 columns">politician</span>
  </div>
  <div class="row">
    <div class="large-text-center">
      <span><%= title %> <%= first_name %> <%= last_name %> (<%= party %>)</span>
    </div>
  </div>
  <div class="row">
    <span class="large-1 columns end"> <%= state %></span>
  </div>
</div>
