<img src=<%= photo_url %> class="large-4 columns">
<span id="hide-bio"><%=bioguide_id%></span>
<div class="large-8 columns result-text">
  <p>
    <span class="search-state"> <%= state %> </span>
    <span class="search-name"><%= title %> <%= firstname %> <%= lastname %> (<%= party %>)</span>
    <span class="search-type">politician</span>
  </p>
</div>
