<div class="row">
  <div class="large-3 columns">
    <div class="row centered">
      <img src="<%= photo_url %>" class="large-centered columns" id="detail-img">
  		<h3> <%= title %> <%= firstname %> <%= lastname %> (<%= party %>)</h3>
      <span id="hide-bio"><%=bioguide_id%></span>
    </div>
    <div class="row">
      <ul class="tabs vertical" data-tab>
        <li class="tab-title"><a href="#panel61">Bio</a></li>
        <li class="tab-title"><a href="#panel71">Contact</a></li>
        <li class="tab-title active"><a href="#panel11">Top Contributions By Sector</a></li>
        <li class="tab-title"><a href="#panel21">Contributor Types</a></li>
        <li class="tab-title"><a href="#panel31">Sponsored Legislation</a></li>
        <li class="tab-title"><a href="#panel41">Top Contributions By Industry</a></li>
        <li class="tab-title last"><a href="#panel51">Top Contributors</a></li>
      </ul>
    </div>
  </div>

  <div id="data-container" class="data-container large-9 columns">
    <div class="tabs-content">
      <div class="content" id="panel61">
        <p><%= bio %></p>
      </div>
      <div class="content" id="panel71">
        <p>
          <% if (oc_email) {%>
            <span>Email: </span>
            <a href="mailto:<%= oc_email %>"><%= oc_email %> </a>
          <%} %>
        </p>

        <p>
          <% if (phone) {%>
            <span>Call: <%= phone %> </span>
          <%} %>
        </p>

        <p>
          <% if (twitter_id) {%>
            <span>Tweet: </span>
            <a href="//twitter.com/<%= twitter_id %>">@<%= twitter_id %> </a>
          <%} %>
        </p>
      </div>
      <div class="content active" id="panel11">
        <div id="sector-chart"></div>
      </div>
      <div class="content" id="panel21">
        <div id="contributor-types"></div>
      </div>
      <div class="content" id="panel31">
          <div id="bills-listing"></div>
      </div>
      <div class="content" id="panel41">
        <div id="industry-chart"></div>
      </div>
      <div class="content" id="panel51">
        <div id="top-contributor"></div>
      </div>
    </div>
  </div>

</div>
