<div class="row">
  <div class="large-3 columns">
    <div class="row centered" id="pic-block">
      <img src="<%= photo_url %>" class="large-centered columns" id="detail-img">
  		<h4> <%= title %> <%= firstname %> <%= lastname %> (<%= party %>)</h4>
      <% if (title==="Rep") {%>
        <h5>District <%= district %></h5>
      <%} else{%>
        <h5><%= district %></h5>
      <% } %>
        <h5> Term: <%= term_start.substring(0,4) %> - <%= term_end.substring(0,4) %> </h5>
      <span id="hide-bio"><%=bioguide_id%></span>
    </div>
    <div class="row">
      <ul class="tabs vertical" data-tab>
        <li class="tab-title"><a href="#panel61">Bio</a></li>
        <li class="tab-title"><a href="#panel71">Contact</a></li>
        <li class="tab-title active"><a href="#panel11">Top Contributions By Sector</a></li>
        <li class="tab-title"><a href="#panel21">Contributor Types</a></li>
        <li class="tab-title"><a href="#panel31">Sponsored Legislation</a></li>
        <li class="tab-title"><a href="#panel41">Top Contributions By Industry</a></li>
        <li class="tab-title last"><a href="#panel51">Top Contributors</a></li>
      </ul>
    </div>
  </div>

  <div id="data-container" class="data-container large-9 columns">
    <div class="tabs-content">
      <div class="content" id="panel61">
        <p><%= bio %></p>
      </div>
      <div class="content" id="panel71">
        <p>
          <% if (oc_email) {%>
            <span>Email: </span>
            <a href="mailto:<%= oc_email %>"><%= oc_email %> </a>
          <%} %>
        </p>

        <p>
          <% if (phone) {%>
            <span>Call: <%= phone %> </span>
          <%} %>
        </p>

        <p>
          <% if (twitter_id) {%>
            <span>Tweet: </span>
            <a href="#" data-reveal-id="twitterModal">@<%= twitter_id %> </a>

            <div id="twitterModal" class="reveal-modal" data-reveal>
              <form action="/tweets/create">
                <h1>Send a Twitter!</h1>
                <textarea rows="4" cols="50" name="tweet">@<%=twitter_id%></textarea>
                <input type="submit" value="Send Tweet"/>
              </form>
              <a class="close-reveal-modal">&#215;</a>
            </div>
          <%} %>
        </p>
      </div>
      <div class="content active" id="panel11">
        <div id="sector-chart"></div>
        <p>Top contributing sectors, ranked by total dollars given.</p>
      </div>
      <div class="content" id="panel21">
        <div id="contributor-types"></div>
        <p>A breakdown of how much of the money raised came from individuals versus organizations (PACs). </p>
      </div>
      <div class="content" id="panel31">
          <div id="bills-listing"></div>
      </div>
      <div class="content" id="panel41">
        <div id="industry-chart"></div>
        <p>Top contributing industries, ranked by total dollars given.</p>
      </div>
      <div class="content" id="panel51">
        <div id="top-contributor"></div>
        <p>Top contributing organizations, ranked by total dollars given. An organization's giving is broken down into money given directly (by the organization's PAC) versus money given by individuals employed by or associated with the organization.</p>
      </div>
    </div>
  </div>

</div>
