<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='//fonts.googleapis.com/css?family=Josefin+Sans:400,600' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Droid+Sans:300,400' rel='stylesheet' type='text/css'>

    <title><%= content_for?(:title) ? yield(:title) : "Accountabill" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application"%>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div id="wrapper">
      <div id="main">
        <% if current_user %>
          Signed in as <strong><%= current_user.name %></strong>!
          <%= link_to "Sign out", signout_path, id: "sign_out" %>
        <% else %>
          <%= link_to "Sign in with Twitter", "/auth/twitter", id: "sign_in" %>
        <% end %>

        <%= yield %>
      </div>
    </div>
    <div id="footer">
      <footer>
        <div id="about-us">
          <h5>About Us</h5>
          <p>We are a group of five aspiring Web Developers out of DevBootcamp Chicago who created <a target="_blank" href="https://github.com/gabivoicu/Accountabill">Accountabill</a> with the hope that it will help educate voters about where the funding for their federal representatives is coming from.</p>
        </div>
        <div id="take-action">
          <h5>Take Action</h5>
          <a target="_blank" href="//www.usa.gov/Citizen/Topics/Voting/Register.shtml">Register to Vote</a>
        </div>
        <div id="sunlight-logo">
          <h5>Powered By:</h5>
          <a target="_blank" href="http://sunlightfoundation.com/"><img src="https://pscl.sunlightfoundation.com/static/img/sunlight.png"/></a>
        </div>
      </footer>
    </div>
  </body>
</html>
