<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='//fonts.googleapis.com/css?family=Josefin+Sans:400,600' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Droid+Sans:300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <title><%= content_for?(:title) ? yield(:title) : "Accountabill" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application"%>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div id="wrapper">
      <div id="main">


        <%= yield %>
      </div>
    </div>
    <div id="footer">
      <footer>
        <div id="about-us">
          <h5>About Us</h5>
          <p>We are a group of five aspiring Web Developers out of DevBootcamp Chicago who created <a target="_blank" href="https://github.com/gabivoicu/Accountabill">Accountabill</a> with the hope that it will help educate voters about where the funding for their federal representatives is coming from.</p>
        </div>
        <div id="take-action">
          <h5>Take Action</h5>
          <a target="_blank" href="//www.usa.gov/Citizen/Topics/Voting/Register.shtml">Register to Vote</a>

        </div>
        <div id="sunlight-logo">
          <h5>Data provided by:</h5>
          <a target="_blank" href="http://www.opensecrets.org/">Center for Responsive Politics</a>
          <br>
          <br>
          <a target="_blank" href="http://sunlightfoundation.com/">Sunlight Foundation</a>
        </div>
      </footer>
    </div>
  </body>
</html>
