<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,600' rel='stylesheet' type='text/css'>

    <title><%= content_for?(:title) ? yield(:title) : "Accountabill" %></title>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application"%>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= yield %>
    <!-- #chart is FOR TESTING PURPOSES ONLY -->
    <div id="chart">
  <svg width="360" height="360">
    <g transform="translate(180,180)">
<!--       <path d="M0,-180A..." fill="#393b79"></path>
      <path d="M105.801..." fill="#5254a3"></path>
      <path d="M171.190..." fill="#6b6ecf"></path>
      <path d="M-105.80..." fill="#9c9ede"></path> -->
    </g>
  </svg>
</div>
  </body>
</html>
