<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='//fonts.googleapis.com/css?family=Josefin+Sans:400,600' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Droid+Sans:300,400' rel='stylesheet' type='text/css'>

    <title><%= content_for?(:title) ? yield(:title) : "Accountabill" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application"%>
    <%= csrf_meta_tags %>
  </head>

  <body>
      <% if current_user %>
        Signed in as <strong><%= current_user.name %></strong>!
        <%= link_to "Sign out", signout_path, id: "sign_out" %>
      <% else %>
        <%= link_to "Sign in with Twitter", "/auth/twitter", id: "sign_in" %>
      <% end %>

    <%= yield %>

  </body>

  <footer>
    <div class="">
      <h3>Powered By:</h3><br>
      <a href="http://sunlightfoundation.com/"><img src="https://pscl.sunlightfoundation.com/static/img/sunlight.png"/></a>
    </div>
    <div class="">
      <h3>About Us</h3>
      <p>We are a group of five aspiring Web Developers out of DevBootcamp Chicago who created Accountabill with the hope that it will help educate voters about where the funding for their federal representatives is coming from.</p>
    </div>
  </footer>
</html>
